#  Python
__pycache__/
backend/.pytest_cache/

# Temp files
*.tmp
backend/temp/**
!backend/temp/.gitkeep

# Coverage
**/*coverage*
!.coveragerc
!.github/workflows/coverage.yml

.idea
move_current
screenshots
frontend/cypress/downloads/**

# Local secrets/environment variables
*.local
*secret*
hpc_private_key
hpc_private_key.pub
/game-image/game-image.tar

# Logs
log.txt