#chess-game-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

#submit-form-container {
    display: flex;
    flex-direction: column;
}

#move-list-container {
    position: absolute;
    left: 3%;
    right: 100;
    height: 100%;
    max-height: 450px;
    margin-top: 20%;
    padding: 0.7%;
    border: 1px solid #c0bdbb;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
