#chess-game-view {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 100px;
}

#first-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%;
}

#submit-form-container {
    margin-bottom: 50px;
}

#chessboard-container {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    width: calc(100% - 40px);
    max-width: 800px;
    height: calc(100% - 500px - 20px);
    margin-top: 15%;
    margin-left: 45%;
}

#winner-message {
    margin-right: auto;
    position: relative;
    right: 10%;
}

#statistics {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    width: calc(100% - 40px);
    max-width: 600px;
    margin-top: 2%;
    margin-left: 33%;
}

@media (max-width: 300px) {
    #chess-game-view {
        flex-direction: column;
    }

    #move-list-container {
        margin-right: 0;
    }
}
