#game-view {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 100px;
    margin-top: 20px;
}

#winner-message {
    margin-right: auto;
    position: relative;
    right: 10%;
}
