.move-list {
    overflow-y: auto;
    border: 1px solid #c0bdbb;
    border-radius: 20px;
    padding: 2%;
    text-align: center;
    width: 8%;
    max-height: 500px;
    min-width: 200px;
    margin-left: 5%;
    font-size: 1.2em;
    margin-top: 15%;
}
