#game-view {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
    gap: 5px;
}

.card {
    box-shadow: 0 4px 8px 0 #a0522d;
    transition: 0.3s;
    border-radius: 20px;
}

.card-header {
    text-align: center;
    font-size: 1.8em;
}
