@import "./constants.scss";

#navigation-bar {
    display: flex;
    align-items: center;
    background-color: var(--primary);
    top: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    left: 20px;
    right: 20px;
    height: 90px;
    z-index: 1000;
    border: none;
}

#nav-button {
    background-color: var(--primary);
    color: white;
    padding: 20px;
    margin-left: 18px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    font-size: 18px;
    transition: background-color 0.3s ease;
    position: relative;
    width: 200px;
    text-align: center;
    flex-wrap: nowrap;
    text-decoration: none;
    min-height: 90px;
    max-height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-button:hover {
    background-color: var(--secondary);
    color: var(--primary);
}

.tira-text {
    position: relative;
    margin-left: auto;
    right: 20px;
    color: white;
    font-weight: bold;
}

.tira-text:hover {
    cursor: default;
}
